<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="CreateUpdatePrescriptionForm">
            <div class="input-whith-icon">
                <input list="medicineOptions" id="exampleDataList" formControlName="medicine" class="form-control" placeholder="Medicina a prescribir"
                    [class.is-invalid]="(CreateUpdatePrescriptionForm.get('medicine').touched && CreateUpdatePrescriptionForm.get('medicine').invalid) || showClass" />
                    <datalist id="medicineOptions">
                    <div *ngFor="let medicine of resp">
                        <option>{{medicine.name}}</option>
                    </div>
                    </datalist>
                <div *ngIf="form.medicine.errors" class="invalid-feedback">
                    <div >Seleccionar una medicina es obligatorio</div>
                </div>
            </div>
                <br>
        <div class="modal-footer">
            <button class="stlinkbutton" type="reset" (click)="onReset()">Reset</button>
            <button class="stbutton">Enviar</button>
        </div>
    </form>
</div>
