<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="CreateUpdatePrescriptionForm">

        <div class="input-whith-icon">
            <select required formControlName="medicine" class="form-select" aria-label="Default select example"
            [class.is-invalid]="(CreateUpdatePrescriptionForm.get('medicine').touched && CreateUpdatePrescriptionForm.get('medicine').invalid) || showClass" >
                <option value="">Seleccione un medicamento</option>
                <option *ngFor="let medicine of allMedicineForPatient" value={{medicine.id}}>{{medicine.name}}</option>
              </select>
              <div *ngIf="form.medicine.errors" class="invalid-feedback">
                <div >Seleccionar una medicina es obligatorio</div>
            </div>
        </div>
        
        <br>
        <div class="modal-footer">
            <button class="stlinkbutton" type="reset" (click)="onReset()">Reset</button>
            <button class="stbutton">Enviar</button>
        </div>
    </form>
</div>
