<div class="container">

    <button type="button" class="btn btn-danger" (click)="createPatient('Crear Paciente')">Crear Paciente</button>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Género</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let patient of patients">
          <tr>
            <td>{{patient.name}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.birthDay}}</td>
            <td>{{patient.gender}}</td>
            <td><button type="button" (click)="prescriptionPatient(patient.id)"></button></td>
          </tr>
        </tbody>
      </table>

      <div class="modal-footer">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [ngClass]="disabledShowPrevious ? '' : 'disabled'">
              <a class="page-link pointer-link" (click)="previous()">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link">{{actualPage}}</a></li>
            <li class="page-item" [ngClass]="disabledShowNext ? '' : 'disabled'">
              <a class="page-link pointer-link" (click)="next()">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>


</div>

